body{
    background-image: url("https://wallpapercave.com/wp/wp10567491.jpg");
background-repeat: no-repeat;
background-size: cover;
}
.form{
    margin-right: 10rem;
    margin-top: 13rem;
   
}
.welcome{
    margin: 15rem auto;
    h1{
        font-size: 45px;
    }
}

.btn-primary{
    margin: 30px 70px ;
    background-color: darkblue !important;
    border: darkblue !important;
    &:hover{
        background-color: #0d6efd !important;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #fff;
    transition: left 0.3s ease-out;
  
    &.open {
      left: 0;
    }
  
    nav {
      padding: 20px;
    }
  
    @media (max-width: 768px) {
      width: 100%;
      left: -100%;
  
      &.open {
        left: 0;
      }
    }
  }